# **DATA RETRIEVAL**

### **1) REQUIREMENTS SETUP**

In [93]:
# !pip install -r requirements.txt

In [1]:
import warnings
warnings.filterwarnings("ignore")
import os
import pandas as pd
import numpy as np
import yfinance as yf

### **2) MODULES IMPORT**

In [95]:
from YFINANCE_module import fetch_YFINANCE
from FRED_module import fetch_FRED

### **3) DATA FETCHING**

#### **3.1) MARKET COMPOSITE INDEX**

In [96]:
# NASDAQ100 - ^NDX (hourly, price (USD), 2025-01-01, 2025-11-15) 

ticker = "^NDX"
start = "2025-01-01"
end = "2025-11-15"
frequency = "1h"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_hourly_df.csv", index=False)
df.tail()

Price,Datetime,Close,High,Low,Open,Volume
1524,2025-11-14 16:30:00+00:00,25169.808594,25198.933594,25090.419922,25151.562500,123180272
1525,2025-11-14 17:30:00+00:00,25073.060547,25189.691406,25033.886719,25169.666016,111163743
1526,2025-11-14 18:30:00+00:00,25110.427734,25125.421875,25001.224609,25068.011719,104481973
1527,2025-11-14 19:30:00+00:00,25052.566406,25157.839844,25035.353516,25113.197266,108857524
1528,2025-11-14 20:30:00+00:00,25010.021484,25068.583984,24985.279297,25042.021484,110003463

In [97]:
# NASDAQ100 - ^NDX (daily, price (USD), 2002-01-01, 2025-11-15) 

ticker = "^NDX"
start = "2002-01-01"
end = "2025-11-15"
frequency = "1d"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_daily_df.csv", index=False)
df

Price,Date,Close,High,Low,Open,Volume
0,2002-01-02,1610.390015,1610.410034,1565.079956,1590.709961,1517670000
1,2002-01-03,1666.660034,1667.189941,1618.300049,1618.300049,2209630000
2,2002-01-04,1675.030029,1698.459961,1645.319946,1685.540039,2205610000
3,2002-01-07,1649.829956,1694.270020,1647.560059,1691.359985,2121110000
4,2002-01-08,1666.579956,1676.689941,1641.170044,1651.420044,1873670000
...,...,...,...,...,...,...
6003,2025-11-10,25611.740234,25655.509766,25354.439453,25418.169922,9297320000
6004,2025-11-11,25533.490234,25588.259766,25380.859375,25500.929688,7756810000
6005,2025-11-12,25517.330078,25663.169922,25389.730469,25662.189453,8449920000
6006,2025-11-13,24993.460938,25396.009766,24908.599609,25386.949219,11351410000
6007,2025-11-14,25008.240234,25198.929688,24534.900391,24658.550781,10841540000

In [98]:
# NASDAQ100 - ^NDX (weekly, price (USD), 2002-01-01, 2025-11-15) 

ticker = "^NDX"
start = "2002-01-01"
end = "2025-11-15"
frequency = "1wk"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_weekly_df.csv", index=False)
df

Price,Date,Close,High,Low,Open,Volume
0,2002-01-01,1649.829956,1698.459961,1565.079956,1590.709961,8054020000
1,2002-01-08,1603.760010,1710.229980,1595.040039,1651.420044,9383940000
2,2002-01-15,1548.219971,1628.000000,1537.989990,1607.010010,7178540000
3,2002-01-22,1564.859985,1586.339966,1500.890015,1567.589966,8733600000
4,2002-01-29,1479.170044,1582.650024,1471.520020,1570.699951,9234910000
...,...,...,...,...,...,...
1241,2025-10-14,25141.019531,25183.810547,24256.279297,24442.929688,51487960000
1242,2025-10-21,25821.550781,25839.029297,24652.109375,25139.800781,56636330000
1243,2025-10-28,25972.939453,26182.099609,25732.390625,25932.640625,52563950000
1244,2025-11-04,25611.740234,25762.230469,24603.779297,25580.339844,50778950000
1245,2025-11-11,25008.240234,25663.169922,24534.900391,25500.929688,38399680000

In [99]:
# NASDAQ100 - ^NDX (monthly, price (USD), 2002-01-01, 2025-11-15) 

ticker = "^NDX"
start = "2002-01-01"
end = "2025-11-15"
frequency = "1mo"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_monthly_df.csv", index=False)
df

Price,Date,Close,High,Low,Open,Volume
0,2002-01-01,1550.170044,1710.229980,1481.459961,1590.709961,39095980000
1,2002-02-01,1359.219971,1561.239990,1329.930054,1544.420044,34022690000
2,2002-03-01,1452.810059,1573.420044,1370.319946,1373.150024,34619370000
3,2002-04-01,1277.069946,1481.739990,1228.939941,1440.380005,38648510000
4,2002-05-01,1208.339966,1350.540039,1142.250000,1273.630005,39802810000
...,...,...,...,...,...,...
282,2025-07-01,23218.119141,23589.369141,22388.089844,22594.480469,209936950000
283,2025-08-01,23415.419922,23969.279297,22673.880859,22941.060547,176309030000
284,2025-09-01,24679.990234,24781.730469,22977.880859,23020.470703,192919050000
285,2025-10-01,25858.130859,26182.099609,24207.150391,24539.250000,242736420000
286,2025-11-01,24640.519531,26132.869141,24299.289062,26114.109375,126324060000

#### **3.2) DIVIDENDS INDEX**

In [100]:
# NASDAQ100 Dividends - ^NDXDIV (hourly, XXXXXXXXX, 2025-01-01, 2025-11-15) 

ticker = "^NDXDIV"
start = "2000-01-01"
end = "2025-11-15"
frequency = "1h"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaqDIV_hourly_df.csv", index=False)
df

1 Failed download:
['^NDXDIV']: YFPricesMissingError('possibly delisted; no price data found  (1h 2000-01-01 -> 2025-11-15) (Yahoo error = "1h data not available for startTime=946702800 and endTime=1763182800. The requested range must be within the last 730 days.")')

Empty DataFrame
Columns: [Date, Adj Close, Close, High, Low, Open, Volume]
Index: []

In [101]:
# NASDAQ100 Dividends - ^NDXDIV (hourly, XXXXXXXXX, 2000-01-01, 2025-11-15) 

ticker = "^NDXDIV"
start = "2000-01-01"
end = "2025-11-15"
frequency = "1d"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaqDIV_daily_df.csv", index=False)
df

1 Failed download:
['^NDXDIV']: YFPricesMissingError('possibly delisted; no price data found  (1d 2000-01-01 -> 2025-11-15)')

Empty DataFrame
Columns: [Date, Adj Close, Close, High, Low, Open, Volume]
Index: []

In [102]:
# NASDAQ100 Dividends - ^NDXDIV (weekly, XXXXXXXXX, 2000-01-01, 2025-11-15) 

ticker = "^NDXDIV"
start = "2000-01-01"
end = "2025-11-15"
frequency = "1wk"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaqDIV_weekly_df.csv", index=False)
df

1 Failed download:
['^NDXDIV']: YFPricesMissingError('possibly delisted; no price data found  (1wk 2000-01-01 -> 2025-11-15)')

Empty DataFrame
Columns: [Date, Adj Close, Close, High, Low, Open, Volume]
Index: []

In [103]:
# NASDAQ100 Dividends - ^NDXDIV (monthly, XXXXXXXXX, 2000-01-01, 2025-11-15) 

ticker = "^NDXDIV"
start = "2000-01-01"
end = "2025-11-15"
frequency = "1mo"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaqDIV_monthly_df.csv", index=False)
df

1 Failed download:
['^NDXDIV']: YFPricesMissingError('possibly delisted; no price data found  (1mo 2000-01-01 -> 2025-11-15)')

Empty DataFrame
Columns: [Date, Adj Close, Close, High, Low, Open, Volume]
Index: []

#### **3.3) 1-MONTH MATURITY US-TREASURY**

In [104]:
# Market Yield on U.S. Treasury Securities at 1-Month Constant Maturity, Quoted on an Investment Basis (daily, percent, non-seasonally adjusted, 2001-07-31, 2025-11-15) 
# https://fred.stlouisfed.org/series/DGS1MO

ticker = "DGS1MO"
start = "2002-01-01"
end = "2025-11-15"

df = fetch_FRED(ticker, start, end) 
df = df.rename(columns= 
        {"date": "Date", 
         "DGS1MO": "1-month Yield - US Treasury Securities"
})

# Full daily date range
df = df.sort_values("Date").set_index("Date")
full_idx = pd.date_range(start=df.index.min(), end=df.index.max(), freq="D")
df = df.reindex(full_idx)

# Continuous Values Correction 
df["1-month Yield - US Treasury Securities"] = df["1-month Yield - US Treasury Securities"].ffill()
df = df.reset_index().rename(columns={"index": "Date"})

# Uploading in aggregate_df
df.to_csv("raw_df/risk_free_daily_df.csv", index=False)
df

           Date  1-month Yield - US Treasury Securities
0    2002-01-01                                     NaN
1    2002-01-02                                    1.73
2    2002-01-03                                    1.73
3    2002-01-04                                    1.72
4    2002-01-05                                    1.72
...         ...                                     ...
8714 2025-11-10                                    4.04
8715 2025-11-11                                    4.04
8716 2025-11-12                                    4.03
8717 2025-11-13                                    4.05
8718 2025-11-14                                    4.04

[8719 rows x 2 columns]

In [105]:
# Market Yield on U.S. Treasury Securities at 1-Month Constant Maturity, Quoted on an Investment Basis (weekly, percent, non-seasonally adjusted, 2002-01-01, 2025-11-15) 
# https://fred.stlouisfed.org/series/DGS1MO

ticker = "DGS1MO"
start = "2002-01-01"
end = "2025-11-15"

df = fetch_FRED(ticker, start, end)  
df = df.rename(columns= 
        {"date": "Date", 
         "DGS1MO": "1-month Yield - US Treasury Securities"
})

# Full daily date range
df = df.sort_values("Date").set_index("Date")
full_idx = pd.date_range(start=df.index.min(), end=df.index.max(), freq="D")
df = df.reindex(full_idx)

# Continuous Values Correction 
df["1-month Yield - US Treasury Securities"] = df["1-month Yield - US Treasury Securities"].ffill()

# Aggregation (dimension from daily to weekly)
df = df.iloc[::7].copy()
df = df.reset_index().rename(columns={"index": "Date"})

# Uploading in aggregate_df
df.to_csv("raw_df/risk_free_weekly_df.csv", index=False)
df

           Date  1-month Yield - US Treasury Securities
0    2002-01-01                                     NaN
1    2002-01-08                                    1.70
2    2002-01-15                                    1.64
3    2002-01-22                                    1.67
4    2002-01-29                                    1.72
...         ...                                     ...
1241 2025-10-14                                    4.19
1242 2025-10-21                                    4.12
1243 2025-10-28                                    4.07
1244 2025-11-04                                    4.02
1245 2025-11-11                                    4.04

[1246 rows x 2 columns]

In [106]:
# Market Yield on U.S. Treasury Securities at 1-Month Constant Maturity, Quoted on an Investment Basis (monthly, percent, non-seasonally adjusted, 2002-01-01, 2025-11-15) 
# https://fred.stlouisfed.org/series/DGS1MO

ticker = "DGS1MO"
start = "2002-01-01"
end = "2025-11-15"

df = fetch_FRED(ticker, start, end)  
df = df.rename(columns= 
        {"date": "Date", 
         "DGS1MO": "1-month Yield - US Treasury Securities"
})

# Full daily date range
df = df.sort_values("Date").set_index("Date")
full_idx = pd.date_range(start=df.index.min(), end=df.index.max(), freq="D")
df = df.reindex(full_idx)

# Continuous Values Correction 
df["1-month Yield - US Treasury Securities"] = df["1-month Yield - US Treasury Securities"].ffill()

# Aggregation (dimension from daily to monthly, we cannot use a loop like for weekly data, as the pattern is not constant)
# (!!!) We take only the value observed at the opening of the month (YYYY-MM-01)
df = df.reset_index().rename(columns={"index": "Date"})
df = df[df["Date"].dt.day == 1]
df = df.reset_index(drop=True)

# Uploading in aggregate_df
df.to_csv("raw_df/risk_free_monthly_df.csv", index=False)
df

          Date  1-month Yield - US Treasury Securities
0   2002-01-01                                     NaN
1   2002-02-01                                    1.69
2   2002-03-01                                    1.78
3   2002-04-01                                    1.79
4   2002-05-01                                    1.76
..         ...                                     ...
282 2025-07-01                                    4.32
283 2025-08-01                                    4.49
284 2025-09-01                                    4.41
285 2025-10-01                                    4.17
286 2025-11-01                                    4.06

[287 rows x 2 columns]

In [108]:
import yfinance as yf

msft = yf.Ticker("MSFT")
dividends = msft.dividends
dividends

Date
2003-02-19 00:00:00-05:00    0.08
2003-10-15 00:00:00-04:00    0.16
2004-08-23 00:00:00-04:00    0.08
2004-11-15 00:00:00-05:00    3.08
2005-02-15 00:00:00-05:00    0.08
                             ...
2024-08-15 00:00:00-04:00    0.75
2024-11-21 00:00:00-05:00    0.83
2025-02-20 00:00:00-05:00    0.83
2025-05-15 00:00:00-04:00    0.83
2025-08-21 00:00:00-04:00    0.83
Name: Dividends, Length: 87, dtype: float64