# **DATA RETRIEVAL**

### **1) REQUIREMENTS SETUP**

In [101]:
# !pip install -r requirements.txt

In [102]:
import warnings
warnings.filterwarnings("ignore")
import os
import pandas as pd
import numpy as np
import yfinance as yf

### **2) MODULES IMPORT**

In [103]:
from YFINANCE_module import fetch_YFINANCE
from FRED_module import fetch_FRED

### **3) DATA FETCHING**

#### **3.1) MARKET COMPOSITE INDEX**

In [104]:
# NASDAQ100 - ^NDX (hourly, price (USD), 2025-01-01, 2025-11-15) 

ticker = "^NDX"
start = "2025-01-01"
end = "2025-11-15"
frequency = "1h"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_hourly_df.csv", index=False)
df

Price,Datetime,Close,High,Low,Open,Volume
0,2025-01-02 14:30:00+00:00,21086.878906,21236.593750,20982.998047,21117.835938,0
1,2025-01-02 15:30:00+00:00,21092.003906,21122.890625,20999.927734,21087.419922,114867615
2,2025-01-02 16:30:00+00:00,20960.873047,21152.394531,20955.894531,21091.203125,93014823
3,2025-01-02 17:30:00+00:00,20866.994141,20946.810547,20801.910156,20946.810547,102514964
4,2025-01-02 18:30:00+00:00,20914.117188,20923.443359,20801.388672,20860.451172,77613986
...,...,...,...,...,...,...
1524,2025-11-14 16:30:00+00:00,25169.808594,25198.933594,25090.419922,25151.562500,123180272
1525,2025-11-14 17:30:00+00:00,25073.060547,25189.691406,25033.886719,25169.666016,111163743
1526,2025-11-14 18:30:00+00:00,25110.427734,25125.421875,25001.224609,25068.011719,104481973
1527,2025-11-14 19:30:00+00:00,25052.566406,25157.839844,25035.353516,25113.197266,108857524
1528,2025-11-14 20:30:00+00:00,25010.021484,25068.583984,24985.279297,25042.021484,110003463

In [105]:
# NASDAQ100 - ^NDX (daily, price (USD), 2002-01-01, 2025-11-15) 

ticker = "^NDX"
start = "2002-01-01"
end = "2025-11-15"
frequency = "1d"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_daily_df.csv", index=False)
df

Price,Date,Close,High,Low,Open,Volume
0,2002-01-02,1610.390015,1610.410034,1565.079956,1590.709961,1517670000
1,2002-01-03,1666.660034,1667.189941,1618.300049,1618.300049,2209630000
2,2002-01-04,1675.030029,1698.459961,1645.319946,1685.540039,2205610000
3,2002-01-07,1649.829956,1694.270020,1647.560059,1691.359985,2121110000
4,2002-01-08,1666.579956,1676.689941,1641.170044,1651.420044,1873670000
...,...,...,...,...,...,...
6003,2025-11-10,25611.740234,25655.509766,25354.439453,25418.169922,9297320000
6004,2025-11-11,25533.490234,25588.259766,25380.859375,25500.929688,7756810000
6005,2025-11-12,25517.330078,25663.169922,25389.730469,25662.189453,8449920000
6006,2025-11-13,24993.460938,25396.009766,24908.599609,25386.949219,11351410000
6007,2025-11-14,25008.240234,25198.929688,24534.900391,24658.550781,10841540000

In [106]:
# NASDAQ100 - ^NDX (weekly, price (USD), 2002-01-01, 2025-11-15) 

ticker = "^NDX"
start = "2002-01-01"
end = "2025-11-15"
frequency = "1wk"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_weekly_df.csv", index=False)
df

Price,Date,Close,High,Low,Open,Volume
0,2002-01-01,1649.829956,1698.459961,1565.079956,1590.709961,8054020000
1,2002-01-08,1603.760010,1710.229980,1595.040039,1651.420044,9383940000
2,2002-01-15,1548.219971,1628.000000,1537.989990,1607.010010,7178540000
3,2002-01-22,1564.859985,1586.339966,1500.890015,1567.589966,8733600000
4,2002-01-29,1479.170044,1582.650024,1471.520020,1570.699951,9234910000
...,...,...,...,...,...,...
1241,2025-10-14,25141.019531,25183.810547,24256.279297,24442.929688,51487960000
1242,2025-10-21,25821.550781,25839.029297,24652.109375,25139.800781,56636330000
1243,2025-10-28,25972.939453,26182.099609,25732.390625,25932.640625,52563950000
1244,2025-11-04,25611.740234,25762.230469,24603.779297,25580.339844,50778950000
1245,2025-11-11,25008.240234,25663.169922,24534.900391,25500.929688,38399680000

In [107]:
# NASDAQ100 - ^NDX (monthly, price (USD), 2002-01-01, 2025-11-15) 

ticker = "^NDX"
start = "2002-01-01"
end = "2025-11-15"
frequency = "1mo"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_monthly_df.csv", index=False)
df

Price,Date,Close,High,Low,Open,Volume
0,2002-01-01,1550.170044,1710.229980,1481.459961,1590.709961,39095980000
1,2002-02-01,1359.219971,1561.239990,1329.930054,1544.420044,34022690000
2,2002-03-01,1452.810059,1573.420044,1370.319946,1373.150024,34619370000
3,2002-04-01,1277.069946,1481.739990,1228.939941,1440.380005,38648510000
4,2002-05-01,1208.339966,1350.540039,1142.250000,1273.630005,39802810000
...,...,...,...,...,...,...
282,2025-07-01,23218.119141,23589.369141,22388.089844,22594.480469,209936950000
283,2025-08-01,23415.419922,23969.279297,22673.880859,22941.060547,176309030000
284,2025-09-01,24679.990234,24781.730469,22977.880859,23020.470703,192919050000
285,2025-10-01,25858.130859,26182.099609,24207.150391,24539.250000,242736420000
286,2025-11-01,24054.380859,26132.869141,24021.439453,26114.109375,136872680000

#### **3.2) 1-MONTH MATURITY US-TREASURY**

In [108]:
# Market Yield on U.S. Treasury Securities at 1-Month Constant Maturity, Quoted on an Investment Basis (daily, percent, non-seasonally adjusted, 2001-07-31, 2025-11-15) 
# https://fred.stlouisfed.org/series/DGS1MO

ticker = "DGS1MO"
start = "2002-01-01"
end = "2025-11-15"

df = fetch_FRED(ticker, start, end) 
df = df.rename(columns= 
        {"date": "Date", 
         "DGS1MO": "1-month Yield - US Treasury Securities"
})

# Full daily date range
df = df.sort_values("Date").set_index("Date")
full_idx = pd.date_range(start=df.index.min(), end=df.index.max(), freq="D")
df = df.reindex(full_idx)

# Continuous Values Correction 
df["1-month Yield - US Treasury Securities"] = df["1-month Yield - US Treasury Securities"].ffill()
df = df.reset_index().rename(columns={"index": "Date"})

# Uploading in aggregate_df
df.to_csv("raw_df/risk_free_daily_df.csv", index=False)
df

           Date  1-month Yield - US Treasury Securities
0    2002-01-01                                     NaN
1    2002-01-02                                    1.73
2    2002-01-03                                    1.73
3    2002-01-04                                    1.72
4    2002-01-05                                    1.72
...         ...                                     ...
8714 2025-11-10                                    4.04
8715 2025-11-11                                    4.04
8716 2025-11-12                                    4.03
8717 2025-11-13                                    4.05
8718 2025-11-14                                    4.04

[8719 rows x 2 columns]

In [109]:
# Market Yield on U.S. Treasury Securities at 1-Month Constant Maturity, Quoted on an Investment Basis (weekly, percent, non-seasonally adjusted, 2002-01-01, 2025-11-15) 
# https://fred.stlouisfed.org/series/DGS1MO

ticker = "DGS1MO"
start = "2002-01-01"
end = "2025-11-15"

df = fetch_FRED(ticker, start, end)  
df = df.rename(columns= 
        {"date": "Date", 
         "DGS1MO": "1-month Yield - US Treasury Securities"
})

# Full daily date range
df = df.sort_values("Date").set_index("Date")
full_idx = pd.date_range(start=df.index.min(), end=df.index.max(), freq="D")
df = df.reindex(full_idx)

# Continuous Values Correction 
df["1-month Yield - US Treasury Securities"] = df["1-month Yield - US Treasury Securities"].ffill()

# Aggregation (dimension from daily to weekly)
df = df.iloc[::7].copy()
df = df.reset_index().rename(columns={"index": "Date"})

# Uploading in aggregate_df
df.to_csv("raw_df/risk_free_weekly_df.csv", index=False)
df

           Date  1-month Yield - US Treasury Securities
0    2002-01-01                                     NaN
1    2002-01-08                                    1.70
2    2002-01-15                                    1.64
3    2002-01-22                                    1.67
4    2002-01-29                                    1.72
...         ...                                     ...
1241 2025-10-14                                    4.19
1242 2025-10-21                                    4.12
1243 2025-10-28                                    4.07
1244 2025-11-04                                    4.02
1245 2025-11-11                                    4.04

[1246 rows x 2 columns]

In [110]:
# Market Yield on U.S. Treasury Securities at 1-Month Constant Maturity, Quoted on an Investment Basis (monthly, percent, non-seasonally adjusted, 2002-01-01, 2025-11-15) 
# https://fred.stlouisfed.org/series/DGS1MO

ticker = "DGS1MO"
start = "2002-01-01"
end = "2025-11-15"

df = fetch_FRED(ticker, start, end)  
df = df.rename(columns= 
        {"date": "Date", 
         "DGS1MO": "1-month Yield - US Treasury Securities"
})

# Full daily date range
df = df.sort_values("Date").set_index("Date")
full_idx = pd.date_range(start=df.index.min(), end=df.index.max(), freq="D")
df = df.reindex(full_idx)

# Continuous Values Correction 
df["1-month Yield - US Treasury Securities"] = df["1-month Yield - US Treasury Securities"].ffill()

# Aggregation (dimension from daily to monthly, we cannot use a loop like for weekly data, as the pattern is not constant)
# (!!!) We take only the value observed at the opening of the month (YYYY-MM-01)
df = df.reset_index().rename(columns={"index": "Date"})
df = df[df["Date"].dt.day == 1]
df = df.reset_index(drop=True)

# Uploading in aggregate_df
df.to_csv("raw_df/risk_free_monthly_df.csv", index=False)
df

          Date  1-month Yield - US Treasury Securities
0   2002-01-01                                     NaN
1   2002-02-01                                    1.69
2   2002-03-01                                    1.78
3   2002-04-01                                    1.79
4   2002-05-01                                    1.76
..         ...                                     ...
282 2025-07-01                                    4.32
283 2025-08-01                                    4.49
284 2025-09-01                                    4.41
285 2025-10-01                                    4.17
286 2025-11-01                                    4.06

[287 rows x 2 columns]

#### **3.3) SYNTHETIC NASDAQ-100 INDEX WEIGHTS (DIVIDEND ISSUERS)**

In [111]:
# Local Nasdaq-100 constituents shares TOTAL
# https://www.slickcharts.com/nasdaq100

nasdaq_weights = [
["NVDA", 13.90], ["AAPL", 12.28], ["MSFT", 11.09], ["AMZN", 7.27], ["GOOGL", 5.70],
["GOOG", 5.33], ["AVGO", 5.23], ["META", 4.60], ["TSLA", 4.17], ["NFLX", 1.40],
["COST", 1.23], ["ASML", 1.20], ["PLTR", 1.17], ["AMD", 1.07], ["CSCO", 0.94],
["AZN", 0.85], ["MU", 0.73], ["TMUS", 0.73], ["PEP", 0.61], ["ISRG", 0.61],
["SHOP", 0.60], ["LIN", 0.60], ["APP", 0.57], ["AMGN", 0.56], ["LRCX", 0.56],
["AMAT", 0.56], ["INTU", 0.56], ["QCOM", 0.54], ["INTC", 0.51], ["PDD", 0.50],
["GILD", 0.48], ["KLAC", 0.47], ["BKNG", 0.46], ["ARM", 0.45], ["TXN", 0.44],
["ADBE", 0.41], ["CRWD", 0.40], ["PANW", 0.40], ["HON", 0.37], ["ADI", 0.35],
["CEG", 0.35], ["VRTX", 0.33], ["ADP", 0.31], ["MELI", 0.30], ["CMCSA", 0.30],
["SBUX", 0.30], ["CDNS", 0.26], ["ORLY", 0.26], ["DASH", 0.26], ["REGN", 0.24],
["MAR", 0.24], ["CTAS", 0.23], ["SNPS", 0.22], ["MDLZ", 0.22], ["MNST", 0.22],
["MRVL", 0.21], ["ABNB", 0.21], ["AEP", 0.20], ["CSX", 0.19], ["ADSK", 0.19],
["TRI", 0.18], ["FTNT", 0.18], ["WDAY", 0.18], ["WBD", 0.18], ["DDOG", 0.18],
["IDXX", 0.17], ["PYPL", 0.17], ["ROST", 0.16], ["PCAR", 0.16], ["MSTR", 0.16],
["EA", 0.16], ["BKR", 0.15], ["ROP", 0.15], ["NXPI", 0.15], ["XEL", 0.15],
["EXC", 0.14], ["ZS", 0.14], ["FAST", 0.14], ["TTWO", 0.14], ["FANG", 0.13],
["AXON", 0.13], ["CCEP", 0.12], ["CPRT", 0.12], ["PAYX", 0.12], ["TEAM", 0.12],
["KDP", 0.11], ["CTSH", 0.11], ["GEHC", 0.10], ["VRSK", 0.10], ["KHC", 0.09],
["CSGP", 0.09], ["MCHP", 0.08], ["ODFL", 0.08], ["CHTR", 0.08], ["BIIB", 0.08],
["DXCM", 0.07], ["LULU", 0.06], ["TTD", 0.06], ["ON", 0.06], ["GFS", 0.06],
["CDW", 0.06]
]

weights_df = pd.DataFrame([{ticker: weight for ticker, weight in nasdaq_weights}])

# (!!!) Looks horrible but it works, we consider only dividends-issuing firms
weights_df = weights_df[["NVDA", "AAPL", "MSFT", "GOOGL", "AVGO", "GOOG", "META", "ASML", "COST", "CSCO",
"AZN", "MU", "TMUS", "PEP", "LRCX", "LIN", "QCOM", "INTC", "INTU", "AMAT",
"BKNG", "AMGN", "KLAC", "GILD", "TXN", "HON", "MELI", "CEG", "ADI", "ADP",
"CMCSA", "SBUX", "MDLZ", "CTAS", "MAR", "TRI", "CSX", "AEP", "NXPI", "ROST",
"PCAR", "EA", "ROP", "XEL", "BKR", "FAST", "EXC", "PAYX", "FANG", "CCEP",
"KDP", "CTSH", "GEHC", "MCHP", "VRSK", "ODFL", "KHC", "CDW"]]
weights_df = weights_df/100
weights_df.to_csv("raw_df/nasdaq_weights_df.csv", index=False)

weights_df

,NVDA,AAPL,MSFT,GOOGL,AVGO,GOOG,META,ASML,COST,CSCO,...,FANG,CCEP,KDP,CTSH,GEHC,MCHP,VRSK,ODFL,KHC,CDW
0,0.139,0.1228,0.1109,0.057,0.0523,0.0533,0.046,0.012,0.0123,0.0094,...,0.0013,0.0012,0.0011,0.0011,0.001,0.0008,0.001,0.0008,0.0009,0.0006

In [112]:
# Synthetic Nasdaq-100 constituents shares 
# https://www.slickcharts.com/nasdaq100

synthetic_weights_df = weights_df/weights_df.sum(axis=1).iloc[0]

synthetic_weights_df.to_csv("raw_df/synthetic_weights_df.csv", index=False)
synthetic_weights_df

,NVDA,AAPL,MSFT,GOOGL,AVGO,GOOG,META,ASML,COST,CSCO,...,FANG,CCEP,KDP,CTSH,GEHC,MCHP,VRSK,ODFL,KHC,CDW
0,0.182511,0.161239,0.145614,0.074842,0.068671,0.069984,0.060399,0.015756,0.01615,0.012342,...,0.001707,0.001576,0.001444,0.001444,0.001313,0.00105,0.001313,0.00105,0.001182,0.000788

#### **3.4) SYNTHETIC NASDAQ-100 INDEX DIVIDENDS**

In [113]:
# Local Nasdaq-100 constituents dividends (daily, USD, 2002-01-01, 2025-11-15) 

constituents_path = "raw_df/constituents-nasdaq100.csv"
nasdaq_list_df = pd.read_csv(constituents_path)

tickers = nasdaq_list_df["Symbol"].tolist()
start = "2002-01-01"
end = "2025-11-15"

div_df = pd.DataFrame()

for ticker in tickers:
    try:
# (!!!) Strange set-up for history
        df = yf.Ticker(ticker).dividends

# (!!!) We need this cuz we can filter out those firms that issue no dividends
        if df is None or df.empty:
            continue
#_________________________________________       
# Merging            
        df = df.to_frame(name=ticker)
        div_df = pd.merge(div_df, df, how="outer", left_index=True, right_index=True)
#_________________________________________

    except Exception as e:
# (!!!) This is not for those companys issuing no dividends, but just in case the download was not successfull
        print(f"Error fetching {ticker}: {e}")

# Continuous Values Correction
# (!!!) No fill
div_df = div_df.sort_index()
full_idx = pd.date_range(start=div_df.index.min(), end=div_df.index.max(), freq="D")
div_df = div_df.reindex(full_idx)

# Filter by date
div_df = div_df.loc[start:end]
div_df = div_df.reset_index().rename(columns={"index": "Date"})

div_df = div_df.drop(columns=["ADBE", "MRVL", "REGN", "MNST", "PYPL", "ADSK", "TTWO"])
div_df.to_csv("raw_df/raw_div_daily_df.csv", index=False)
div_df

,Date,NVDA,AAPL,MSFT,GOOGL,AVGO,GOOG,META,ASML,COST,...,FANG,CCEP,KDP,CTSH,GEHC,MCHP,VRSK,ODFL,KHC,CDW
0,2002-01-01 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002-01-02 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002-01-03 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2002-01-04 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002-01-05 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8715,2025-11-11 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8716,2025-11-12 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8717,2025-11-13 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8718,2025-11-14 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8719,2025-11-15 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
# Synthetic NASDAQ-100 index dividends (daily, USD, 2002-01-01, 2025-11-15) 
synthetic_div_df = pd.DataFrame()
synthetic_div_df = div_df.copy()

ticker_cols = [c for c in synthetic_div_df.columns if c != "Date"]

# Multiply weights columns for each ticker's column over time, and sum per date
w = synthetic_weights_df.loc[:, ticker_cols].iloc[0]   
synthetic_div_df["Synthetic Index Dividend"] = (
    synthetic_div_df[ticker_cols].mul(w, axis=1).sum(axis=1)
)

synthetic_div_df = synthetic_div_df[["Date", "Synthetic Index Dividend"]]
synthetic_div_df.to_csv("raw_df/synthetic_div_daily_df.csv", index=False)
synthetic_div_df

                          Date  Synthetic Index Dividend
0    2002-01-01 00:00:00-05:00                  0.000000
1    2002-01-02 00:00:00-05:00                  0.000000
2    2002-01-03 00:00:00-05:00                  0.000000
3    2002-01-04 00:00:00-05:00                  0.000000
4    2002-01-05 00:00:00-05:00                  0.000000
...                        ...                       ...
8715 2025-11-11 00:00:00-05:00                  0.000000
8716 2025-11-12 00:00:00-05:00                  0.000693
8717 2025-11-13 00:00:00-05:00                  0.001707
8718 2025-11-14 00:00:00-05:00                  0.011836
8719 2025-11-15 00:00:00-05:00                  0.000000

[8720 rows x 2 columns]

In [115]:
# Synthetic NASDAQ-100 index dividends (weekly, USD, 2002-01-01, 2025-11-15) 
df = synthetic_div_df.copy()

# Aggregation (dimension from daily to weekly)
# (!!!) Watch out! we need to consider the sum of each dividend payout within the considered week
df = df.sort_values("Date").reset_index(drop=True)
df["week_block"] = df.index // 7

df = (
    df.groupby("week_block")
      .agg({
          "Date": "first",  
          **{col: "sum" for col in df.select_dtypes("number").columns}
      })
      .drop(columns=["week_block"])
)

df = df.reset_index(drop=True)
# Uploading in aggregate_df
df.to_csv("raw_df/synthetic_div_weekly_df.csv", index=False)
df

                          Date  Synthetic Index Dividend
0    2002-01-01 00:00:00-05:00                  0.000000
1    2002-01-08 00:00:00-05:00                  0.000082
2    2002-01-15 00:00:00-05:00                  0.000000
3    2002-01-22 00:00:00-05:00                  0.000000
4    2002-01-29 00:00:00-05:00                  0.000300
...                        ...                       ...
1241 2025-10-14 00:00:00-04:00                  0.000000
1242 2025-10-21 00:00:00-04:00                  0.000046
1243 2025-10-28 00:00:00-04:00                  0.058973
1244 2025-11-04 00:00:00-05:00                  0.047307
1245 2025-11-11 00:00:00-05:00                  0.014236

[1246 rows x 2 columns]

In [116]:
# Synthetic NASDAQ-100 index dividends (monthly, USD, 2002-01-01, 2025-11-15) 
df = synthetic_div_df.copy()

# Aggregation (dimension from daily to weekly)
# (!!!) Again different cuz we need the calendar month and not every 30 days
# (!!!) Watch out! we need to consider the sum of each dividend payout within the considered week
df["Date"] = pd.to_datetime(df["Date"])
df = df.sort_values("Date")

df = (
    df.groupby(pd.Grouper(key="Date", freq="M"))
      .agg({ 
          "Date": "first",  
          **{col: "sum" for col in df.select_dtypes("number").columns}
      })
      .reset_index(drop=True)
)
# Uploading in aggregate_df
df.to_csv("raw_df/synthetic_div_monthly_df.csv", index=False)
df

                         Date  Synthetic Index Dividend
0   2002-01-01 00:00:00-05:00                  0.000382
1   2002-02-01 00:00:00-05:00                  0.006262
2   2002-03-01 00:00:00-05:00                  0.002720
3   2002-04-01 00:00:00-05:00                  0.001222
4   2002-05-01 00:00:00-04:00                  0.003142
..                        ...                       ...
282 2025-07-01 00:00:00-04:00                  0.055846
283 2025-08-01 00:00:00-04:00                  0.253449
284 2025-09-01 00:00:00-04:00                  0.216313
285 2025-10-01 00:00:00-04:00                  0.076930
286 2025-11-01 00:00:00-04:00                  0.061543

[287 rows x 2 columns]

#### **3.5) SYNTHETIC NASDAQ-100 PORTFOLIO PRICE**

In [117]:
# Local Nasdaq-100 constituents stock price (daily, USD, 2002-01-01, 2025-11-15) 

constituents_path = "raw_df/constituents-nasdaq100.csv"
nasdaq_list_df = pd.read_csv(constituents_path)

tickers = nasdaq_list_df["Symbol"].tolist()
start = "2002-01-01"
end = "2025-11-15"

price_df = pd.DataFrame()

for ticker in tickers:
    try:
# (!!!) Strange set-up for history
        df = yf.Ticker(ticker).history(period="max")

# (!!!) We need this cuz we can filter out those firms that issue no dividends
        if df is None or df.empty:
            continue
#_________________________________________       
# Merging            
        df = df["Close"].rename(ticker)
        price_df = pd.concat([price_df, df], axis=1)
#_________________________________________

    except Exception as e:
# (!!!) This is not for those companys issuing no dividends, but just in case the download was not successfull
        print(f"Error fetching {ticker}: {e}")

# Continuous Values Correction
# (!!!) Here we fill
price_df = price_df.sort_index()
full_idx = pd.date_range(start=price_df.index.min(), end=price_df.index.max(), freq="D")
price_df = price_df.reindex(full_idx)
price_df= price_df.ffill()

# Filter by date
price_df = price_df.loc[start:end]
price_df = price_df.reset_index().rename(columns={"index": "Date"})

# (!!!) Looks horrible but it works, we consider only dividends-issuing firms
price_df = price_df[["Date", "NVDA", "AAPL", "MSFT", "GOOGL", "AVGO", "GOOG", "META", "ASML", "COST", "CSCO",
"AZN", "MU", "TMUS", "PEP", "LRCX", "LIN", "QCOM", "INTC", "INTU", "AMAT",
"BKNG", "AMGN", "KLAC", "GILD", "TXN", "HON", "MELI", "CEG", "ADI", "ADP",
"CMCSA", "SBUX", "MDLZ", "CTAS", "MAR", "TRI", "CSX", "AEP", "NXPI", "ROST",
"PCAR", "EA", "ROP", "XEL", "BKR", "FAST", "EXC", "PAYX", "FANG", "CCEP",
"KDP", "CTSH", "GEHC", "MCHP", "VRSK", "ODFL", "KHC", "CDW"]]
price_df.to_csv("raw_df/raw_price_daily_df.csv", index=False)
price_df

,Date,NVDA,AAPL,MSFT,GOOGL,AVGO,GOOG,META,ASML,COST,...,FANG,CCEP,KDP,CTSH,GEHC,MCHP,VRSK,ODFL,KHC,CDW
0,2002-01-01 00:00:00-05:00,0.511164,0.328402,20.234600,NaN,NaN,NaN,NaN,16.078934,29.649321,...,NaN,5.717087,NaN,1.513793,NaN,7.088001,NaN,0.536181,NaN,NaN
1,2002-01-02 00:00:00-05:00,0.514220,0.349395,20.475899,NaN,NaN,NaN,NaN,16.776791,29.696087,...,NaN,5.849902,NaN,1.417011,NaN,7.300236,NaN,0.566627,NaN,NaN
2,2002-01-03 00:00:00-05:00,0.547915,0.353594,21.144785,NaN,NaN,NaN,NaN,18.144203,29.956640,...,NaN,5.883107,NaN,1.451365,NaN,7.759476,NaN,0.549712,NaN,NaN
3,2002-01-04 00:00:00-05:00,0.531947,0.355244,21.043991,NaN,NaN,NaN,NaN,18.304529,29.923231,...,NaN,5.967626,NaN,1.449888,NaN,7.753989,NaN,0.549712,NaN,NaN
4,2002-01-05 00:00:00-05:00,0.531947,0.355244,21.043991,NaN,NaN,NaN,NaN,18.304529,29.923231,...,NaN,5.967626,NaN,1.449888,NaN,7.753989,NaN,0.549712,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8715,2025-11-11 00:00:00-05:00,193.160004,275.250000,507.729706,291.309998,351.959991,291.739990,627.080017,1022.419983,913.859985,...,147.136444,91.706444,26.730000,72.811455,73.410004,54.709999,215.270004,139.509995,24.670000,142.669998
8716,2025-11-12 00:00:00-05:00,193.800003,273.470001,510.185150,286.709991,355.220001,287.429993,609.010010,1037.329956,914.000000,...,145.169998,91.844261,26.900000,73.876801,74.980003,55.630001,212.910004,138.850006,24.750000,147.389999
8717,2025-11-13 00:00:00-05:00,186.860001,272.950012,502.349792,278.570007,339.980011,279.119995,609.890015,1019.859985,925.080017,...,144.380005,90.220001,27.000000,73.239586,73.970001,54.810001,217.679993,135.449997,24.959999,146.750000
8718,2025-11-14 00:00:00-05:00,190.169998,272.410004,509.226898,276.410004,342.459991,276.980011,609.460022,1006.979980,922.979980,...,149.199997,90.360001,27.129999,72.303688,73.150002,53.480000,215.839996,132.289993,24.850000,145.080002
8719,2025-11-15 00:00:00-05:00,190.169998,272.410004,509.226898,276.410004,342.459991,276.980011,609.460022,1006.979980,922.979980,...,149.199997,90.360001,27.129999,72.303688,73.150002,53.480000,215.839996,132.289993,24.850000,145.080002

In [118]:
# Synthetic NASDAQ-100 index price (daily, USD, 2002-01-01, 2025-11-15) 
synthetic_price_df = pd.DataFrame()
synthetic_price_df = price_df.copy()

ticker_cols = [c for c in synthetic_price_df.columns if c != "Date"]

# Multiply weights columns for each ticker's column over time, and sum per date
w = synthetic_weights_df.loc[:, ticker_cols].iloc[0]   
synthetic_price_df["Synthetic Index Close Price"] = (
    synthetic_price_df[ticker_cols].mul(w, axis=1).sum(axis=1)
)

synthetic_price_df = synthetic_price_df[["Date", "Synthetic Index Close Price"]]
synthetic_price_df.to_csv("raw_df/synthetic_price_daily_df.csv", index=False)
synthetic_price_df

                          Date  Synthetic Index Close Price
0    2002-01-01 00:00:00-05:00                     6.741954
1    2002-01-02 00:00:00-05:00                     6.846058
2    2002-01-03 00:00:00-05:00                     7.054649
3    2002-01-04 00:00:00-05:00                     7.039679
4    2002-01-05 00:00:00-05:00                     7.039679
...                        ...                          ...
8715 2025-11-11 00:00:00-05:00                   370.503619
8716 2025-11-12 00:00:00-05:00                   370.481964
8717 2025-11-13 00:00:00-05:00                   364.229183
8718 2025-11-14 00:00:00-05:00                   365.196053
8719 2025-11-15 00:00:00-05:00                   365.196053

[8720 rows x 2 columns]

In [119]:
# Synthetic NASDAQ-100 index price (weekly, USD, 2002-01-01, 2025-11-15) 
df = synthetic_price_df.copy()

# Aggregation (dimension from daily to weekly)
df = df.iloc[::7].copy()
df = df.reset_index(drop=True)

# Uploading in aggregate_df
df.to_csv("raw_df/synthetic_price_weekly_df.csv", index=False)
df

                          Date  Synthetic Index Close Price
0    2002-01-01 00:00:00-05:00                     6.741954
1    2002-01-08 00:00:00-05:00                     7.021340
2    2002-01-15 00:00:00-05:00                     6.956946
3    2002-01-22 00:00:00-05:00                     6.548206
4    2002-01-29 00:00:00-05:00                     6.522922
...                        ...                          ...
1241 2025-10-14 00:00:00-04:00                   362.299566
1242 2025-10-21 00:00:00-04:00                   369.404837
1243 2025-10-28 00:00:00-04:00                   383.372298
1244 2025-11-04 00:00:00-05:00                   369.728215
1245 2025-11-11 00:00:00-05:00                   370.503619

[1246 rows x 2 columns]

In [120]:
# Synthetic NASDAQ-100 index price (monthly, USD, 2002-01-01, 2025-11-15) 
df = synthetic_price_df.copy()

# Aggregation (dimension from daily to monthly)
df = df[df["Date"].dt.day == 1]
df = df.reset_index(drop=True)

# Uploading in aggregate_df
df.to_csv("raw_df/synthetic_price_monthly_df.csv", index=False)
df

                         Date  Synthetic Index Close Price
0   2002-01-01 00:00:00-05:00                     6.741954
1   2002-02-01 00:00:00-05:00                     6.708014
2   2002-03-01 00:00:00-05:00                     6.614498
3   2002-04-01 00:00:00-05:00                     6.714867
4   2002-05-01 00:00:00-04:00                     6.022081
..                        ...                          ...
282 2025-07-01 00:00:00-04:00                   333.452353
283 2025-08-01 00:00:00-04:00                   340.753141
284 2025-09-01 00:00:00-04:00                   348.811723
285 2025-10-01 00:00:00-04:00                   366.551887
286 2025-11-01 00:00:00-04:00                   375.118033

[287 rows x 2 columns]