# **DATA RETRIEVAL**

### **1) REQUIREMENTS SETUP**

In [1]:
# !pip install -r requirements.txt

In [2]:
import warnings
warnings.filterwarnings("ignore")
import os
import pandas as pd
import numpy as np

### **2) MODULES IMPORT**

In [3]:
from YFINANCE_module import fetch_YFINANCE
from FRED_module import fetch_FRED

### **3) DATA FETCHING**

#### **3.1) MARKET COMPOSITE INDEX**

##### 3.1.1) NASDAQ100 - HOURLY

In [4]:
# NASDAQ100 - ^NDX (hourly, price (USD), 2025-01-01, 2025-11-15) 

ticker = "^NDX"
start = "2025-01-01"
end = "2025-11-15"
frequency = "1h"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_hourly_df.csv", index=False)
df.tail()

Price,Datetime,Close,High,Low,Open,Volume
1524,2025-11-14 16:30:00+00:00,25169.808594,25198.933594,25090.419922,25151.562500,123180272
1525,2025-11-14 17:30:00+00:00,25073.060547,25189.691406,25033.886719,25169.666016,111163743
1526,2025-11-14 18:30:00+00:00,25110.427734,25125.421875,25001.224609,25068.011719,104481973
1527,2025-11-14 19:30:00+00:00,25052.566406,25157.839844,25035.353516,25113.197266,108857524
1528,2025-11-14 20:30:00+00:00,25010.021484,25068.583984,24985.279297,25042.021484,110003463

##### 3.1.2) NASDAQ100 - DAILY

In [5]:
# NASDAQ100 - ^NDX (daily, price (USD), 2000-01-01, 2025-11-15) 

ticker = "^NDX"
start = "2000-01-01"
end = "2025-11-15"
frequency = "1d"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_daily_df.csv", index=False)
df

Price,Date,Close,High,Low,Open,Volume
0,2000-01-03,3790.550049,3836.860107,3643.250000,3755.739990,1510070000
1,2000-01-04,3546.199951,3766.570068,3542.729980,3766.570068,1511840000
2,2000-01-05,3507.310059,3576.169922,3371.750000,3543.129883,1735670000
3,2000-01-06,3340.810059,3513.550049,3334.020020,3488.310059,1598320000
4,2000-01-07,3529.600098,3529.750000,3314.750000,3337.260010,1634930000
...,...,...,...,...,...,...
6503,2025-11-10,25611.740234,25655.509766,25354.439453,25418.169922,9297320000
6504,2025-11-11,25533.490234,25588.259766,25380.859375,25500.929688,7756810000
6505,2025-11-12,25517.330078,25663.169922,25389.730469,25662.189453,8449920000
6506,2025-11-13,24993.460938,25396.009766,24908.599609,25386.949219,11351410000
6507,2025-11-14,25008.240234,25198.929688,24534.900391,24658.550781,10841540000

##### 3.1.3) NASDAQ100 - WEEKLY

In [6]:
# NASDAQ100 - ^NDX (weekly, price (USD), 2000-01-01, 2025-11-15) 

ticker = "^NDX"
start = "2000-01-01"
end = "2025-11-15"
frequency = "1wk"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_weekly_df.csv", index=False)
df

Price,Date,Close,High,Low,Open,Volume
0,2000-01-01,3529.600098,3836.860107,3314.750000,3755.739990,7990830000
1,2000-01-08,3704.739990,3756.169922,3447.899902,3558.209961,8045670000
2,2000-01-15,3849.959961,3891.810059,3665.870117,3704.739990,7012420000
3,2000-01-22,3446.129883,3905.100098,3408.030029,3888.330078,8864510000
4,2000-01-29,3874.370117,3929.810059,3349.060059,3438.090088,7907530000
...,...,...,...,...,...,...
1345,2025-10-11,24817.949219,24998.300781,24256.279297,24625.740234,51066110000
1346,2025-10-18,25358.160156,25418.640625,24652.109375,24991.099609,55319120000
1347,2025-10-25,25858.130859,26182.099609,25656.380859,25701.949219,52961610000
1348,2025-11-01,25059.810547,26132.869141,24603.779297,26114.109375,51841800000
1349,2025-11-08,25008.240234,25663.169922,24534.900391,25418.169922,47697000000

##### 3.1.4) NASDAQ100 - MONTHLY

In [7]:
# NASDAQ100 - ^NDX (monthly, price (USD), 2010-01-01, 2025-11-15) 

ticker = "^NDX"
start = "2000-01-01"
end = "2025-11-15"
frequency = "1mo"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_monthly_df.csv", index=False)
df

Price,Date,Close,High,Low,Open,Volume
0,2000-01-01,3570.050049,3905.100098,3314.750000,3755.739990,33421060000
1,2000-02-01,4266.939941,4297.459961,3544.929932,3580.290039,35644700000
2,2000-03-01,4397.839844,4816.350098,4049.979980,4275.720215,43200490000
3,2000-04-01,3773.179932,4355.700195,3107.419922,4355.700195,35147970000
4,2000-05-01,3324.080078,3871.929932,2897.270020,3789.199951,30831980000
...,...,...,...,...,...,...
306,2025-07-01,23218.119141,23589.369141,22388.089844,22594.480469,209936950000
307,2025-08-01,23415.419922,23969.279297,22673.880859,22941.060547,176309030000
308,2025-09-01,24679.990234,24781.730469,22977.880859,23020.470703,192919050000
309,2025-10-01,25858.130859,26182.099609,24207.150391,24539.250000,242736420000
310,2025-11-01,24640.519531,26132.869141,24299.289062,26114.109375,126324060000

#### **3.2) DIVIDENDS INDEX**

In [8]:
# NASDAQ100 Dividends - ^NDXDIV (hourly, XXXXXXXXX, 2025-01-01, 2025-11-15) 

ticker = "^NDXDIV"
start = "2000-01-01"
end = "2025-11-15"
frequency = "1h"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaqDIV_hourly_df.csv", index=False)
df

1 Failed download:
['^NDXDIV']: YFPricesMissingError('possibly delisted; no price data found  (1h 2000-01-01 -> 2025-11-15) (Yahoo error = "1h data not available for startTime=946702800 and endTime=1763182800. The requested range must be within the last 730 days.")')

Empty DataFrame
Columns: [Date, Adj Close, Close, High, Low, Open, Volume]
Index: []

In [ ]:
# NASDAQ100 Dividends - ^NDXDIV (hourly, XXXXXXXXX, 2000-01-01, 2025-11-15) 

ticker = "^NDXDIV"
start = "2000-01-01"
end = "2025-11-15"
frequency = "1d"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaqDIV_daily_df.csv", index=False)
df

Price       Date       Close        High         Low        Open  Volume
0     2025-11-19  139.550995  139.550995  139.550995  139.550995       0

In [ ]:
# NASDAQ100 Dividends - ^NDXDIV (weekly, XXXXXXXXX, 2000-01-01, 2025-11-15) 

ticker = "^NDXDIV"
start = "2000-01-01"
end = "2025-11-15"
frequency = "1wk"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaqDIV_weekly_df.csv", index=False)
df

Price       Date       Close        High         Low        Open  Volume
0     2025-11-19  139.550995  139.550995  139.550995  139.550995       0

In [ ]:
# NASDAQ100 Dividends - ^NDXDIV (monthly, XXXXXXXXX, 2000-01-01, 2025-11-15) 

ticker = "^NDXDIV"
start = "2000-01-01"
end = "2025-11-15"
frequency = "1mo"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaqDIV_monthly_df.csv", index=False)
df

Price       Date       Close        High         Low        Open  Volume
0     2025-11-19  139.550995  139.550995  139.550995  139.550995       0

#### **3.3) 1-MONTH MATURITY US-TREASURY**

In [17]:
# Market Yield on U.S. Treasury Securities at 1-Month Constant Maturity, Quoted on an Investment Basis (daily, percent, non-seasonally adjusted, 2001-07-31, 2025-11-15) 
# https://fred.stlouisfed.org/series/DGS1MO

ticker = "DGS1MO"
start = "2000-01-01"
end = "2025-11-15"

df = fetch_FRED(ticker, start, end) 
df = df.rename(columns= 
        {"date": "Date", 
         "DGS1MO": "1-month Yield - US Trasury Securities"
})

# Uploading in aggregate_df
df.to_csv("raw_df/risk_free_daily_df.csv", index=False)
df

           Date  1-month Yield - US Trasury Securities
0    2001-07-31                                   3.67
1    2001-08-01                                   3.65
2    2001-08-02                                   3.65
3    2001-08-03                                   3.63
4    2001-08-06                                   3.62
...         ...                                    ...
6334 2025-11-10                                   4.04
6335 2025-11-11                                    NaN
6336 2025-11-12                                   4.03
6337 2025-11-13                                   4.05
6338 2025-11-14                                   4.04

[6339 rows x 2 columns]