# **DATA RETRIEVAL**

### **1) REQUIREMENTS SETUP**

In [1]:
# !pip install -r requirements.txt

In [2]:
import warnings
warnings.filterwarnings("ignore")
import os
import pandas as pd
import numpy as np

### **2) MODULES IMPORT**

In [3]:
from YFINANCE_module import fetch_YFINANCE

### **3) DATA FETCHING**

#### **3.1) MARKET COMPOSITE INDEX**

##### 3.1.1) NASDAQ - HOURLY

In [8]:
# NASDAQ - ^IXIC (hourly, price (USD), 2025-01-01, 2025-11-15) 

ticker = "^IXIC"
start = "2025-01-01"
end = "2025-11-15"
frequency = "1h"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_hourly_df.csv", index=False)
df

Price,Datetime,Open,Close,High,Low,Volume
0,2025-01-02 14:30:00+00:00,19401.283203,19388.162109,19517.748047,19270.119141,0
1,2025-01-02 15:30:00+00:00,19380.742188,19385.548828,19413.210938,19301.453125,1262783000
2,2025-01-02 16:30:00+00:00,19381.642578,19265.320312,19442.910156,19260.501953,901877000
3,2025-01-02 17:30:00+00:00,19258.289062,19179.369141,19258.289062,19118.634766,818590000
4,2025-01-02 18:30:00+00:00,19179.355469,19218.962891,19228.083984,19119.027344,579185000
...,...,...,...,...,...,...
1524,2025-11-14 16:30:00+00:00,23035.410156,23044.267578,23073.181641,22977.751953,813333000
1525,2025-11-14 17:30:00+00:00,23037.490234,22953.929688,23063.376953,22917.220703,691169000
1526,2025-11-14 18:30:00+00:00,22949.107422,22987.339844,23000.562500,22888.125000,608481000
1527,2025-11-14 19:30:00+00:00,22990.189453,22936.863281,23030.761719,22919.324219,679502000
1528,2025-11-14 20:30:00+00:00,22935.376953,22904.570312,22950.400391,22876.937500,676753000

##### 3.1.2) NASDAQ - DAILY

In [5]:
# NASDAQ - ^IXIC (daily, price (USD), 2010-01-01, 2025-11-15) 

ticker = "^IXIC"
start = "2010-01-01"
end = "2025-11-15"
frequency = "1d"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_daily_df.csv", index=False)
df

Price,Date,Open,Close,High,Low,Volume
0,2010-01-04,2294.409912,2308.419922,2311.149902,2294.409912,1931380000
1,2010-01-05,2307.270020,2308.709961,2313.729980,2295.620117,2367860000
2,2010-01-06,2307.709961,2301.090088,2314.070068,2295.679932,2253340000
3,2010-01-07,2298.090088,2300.050049,2301.300049,2285.219971,2270050000
4,2010-01-08,2292.239990,2317.169922,2317.600098,2290.610107,2145390000
...,...,...,...,...,...,...
3988,2025-11-10,23354.849609,23527.169922,23569.619141,23290.050781,9297320000
3989,2025-11-11,23407.720703,23468.300781,23508.439453,23315.279297,7756810000
3990,2025-11-12,23563.839844,23406.460938,23564.089844,23278.300781,8449920000
3991,2025-11-13,23262.640625,22870.359375,23264.269531,22796.070312,11351410000
3992,2025-11-14,22544.720703,22900.589844,23073.179688,22436.789062,10841540000

##### 3.1.3) NASDAQ - WEEKLY

In [6]:
# NASDAQ - ^IXIC (weekly, price (USD), 2010-01-01, 2025-11-15) 

ticker = "^IXIC"
start = "2010-01-01"
end = "2025-11-15"
frequency = "1wk"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_weekly_df.csv", index=False)
df

Price,Date,Open,Close,High,Low,Volume
0,2010-01-01,2294.409912,2300.050049,2314.070068,2285.219971,8822630000
1,2010-01-08,2292.239990,2316.739990,2326.280029,2272.699951,11164120000
2,2010-01-15,2316.979980,2265.699951,2322.540039,2259.820068,9912750000
3,2010-01-22,2255.760010,2179.000000,2262.270020,2166.899902,12635750000
4,2010-01-29,2198.260010,2125.429932,2202.840088,2125.429932,12897930000
...,...,...,...,...,...,...
824,2025-10-17,22489.810547,22941.800781,23031.869141,22396.650391,54562650000
825,2025-10-24,23143.230469,23581.140625,24019.990234,23127.960938,52360980000
826,2025-10-31,23941.779297,23053.990234,23976.839844,23011.060547,52609140000
827,2025-11-07,22892.919922,22870.359375,23569.619141,22563.419922,46997370000
828,2025-11-14,22544.720703,22900.589844,23073.179688,22436.789062,10841540000

##### 3.1.4) NASDAQ - MONTHLY

In [7]:
# NASDAQ - ^IXIC (monthly, price (USD), 2010-01-01, 2025-11-15) 

ticker = "^IXIC"
start = "2010-01-01"
end = "2025-11-15"
frequency = "1mo"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_monthly_df.csv", index=False)
df

Price,Date,Open,Close,High,Low,Volume
0,2010-01-01,2294.409912,2147.350098,2326.280029,2140.340088,45625830000
1,2010-02-01,2155.810059,2238.260010,2251.679932,2100.169922,42835360000
2,2010-03-01,2247.399902,2397.959961,2432.250000,2247.330078,54955550000
3,2010-04-01,2411.679932,2461.189941,2535.280029,2383.770020,54528540000
4,2010-05-01,2472.320068,2257.040039,2503.000000,2140.530029,57203120000
...,...,...,...,...,...,...
186,2025-07-01,20290.609375,21122.449219,21457.480469,20105.410156,209936950000
187,2025-08-01,20830.640625,21455.550781,21803.750000,20560.169922,176309030000
188,2025-09-01,21086.570312,22660.009766,22801.900391,21033.050781,192919050000
189,2025-10-01,22530.949219,23724.960938,24019.990234,22193.070312,243658250000
190,2025-11-01,23951.910156,22708.070312,23976.839844,22436.789062,109283600000

#### **3.2) SINGLE STOCKS**