# **DATA RETRIEVAL**

### **1) REQUIREMENTS SETUP**

In [1]:
# !pip install -r requirements.txt

In [2]:
import warnings
warnings.filterwarnings("ignore")
import os
import pandas as pd
import numpy as np

### **2) MODULES IMPORT**

In [3]:
from YFINANCE_module import fetch_YFINANCE

### **3) DATA FETCHING**

#### **3.1) MARKET COMPOSITE INDEX**

##### 3.1.1) NASDAQ - HOURLY

In [4]:
# NASDAQ - ^IXIC (hourly, price (USD), 2025-01-01, 2025-11-15) 

ticker = "^IXIC"
start = "2025-01-01"
end = "2025-11-15"
frequency = "1h"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_hourly_df.csv", index=False)
df

Price,Datetime,Open,Close,High,Low,Volume
0,2025-01-02 14:30:00+00:00,19401.283203,19385.345703,19517.662109,19270.363281,0
1,2025-01-02 15:30:00+00:00,19381.183594,19385.283203,19412.755859,19301.451172,1262783000
2,2025-01-02 16:30:00+00:00,19382.214844,19265.320312,19442.910156,19260.472656,901877000
3,2025-01-02 17:30:00+00:00,19258.289062,19180.048828,19258.289062,19117.585938,818590000
4,2025-01-02 18:30:00+00:00,19175.808594,19219.011719,19227.894531,19119.488281,579185000
...,...,...,...,...,...,...
1524,2025-11-14 16:30:00+00:00,23035.054688,23044.468750,23073.181641,22976.900391,806828000
1525,2025-11-14 17:30:00+00:00,23044.228516,22953.683594,23063.371094,22916.570312,692029000
1526,2025-11-14 18:30:00+00:00,22951.080078,22987.197266,23000.761719,22889.083984,610294000
1527,2025-11-14 19:30:00+00:00,22988.654297,22936.611328,23030.484375,22919.173828,683334000
1528,2025-11-14 20:30:00+00:00,22931.021484,22899.527344,22950.255859,22875.332031,676753000

##### 3.1.2) NASDAQ - DAILY

In [5]:
# NASDAQ - ^IXIC (daily, price (USD), 2010-01-01, 2025-11-15) 

ticker = "^IXIC"
start = "1990-01-01"
end = "2025-11-15"
frequency = "1d"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_daily_df.csv", index=False)
df

Price,Date,Open,Close,High,Low,Volume
0,1990-01-02,452.899994,459.299988,459.299988,452.700012,110720000
1,1990-01-03,461.100006,460.899994,461.600006,460.000000,152660000
2,1990-01-04,460.399994,459.399994,460.799988,456.899994,147950000
3,1990-01-05,457.899994,458.200012,459.399994,457.799988,137230000
4,1990-01-08,457.100006,458.700012,458.700012,456.500000,115500000
...,...,...,...,...,...,...
9031,2025-11-10,23354.849609,23527.169922,23569.619141,23290.050781,9297320000
9032,2025-11-11,23407.720703,23468.300781,23508.439453,23315.279297,7756810000
9033,2025-11-12,23563.839844,23406.460938,23564.089844,23278.300781,8449920000
9034,2025-11-13,23262.640625,22870.359375,23264.269531,22796.070312,11351410000
9035,2025-11-14,22544.720703,22900.589844,23073.179688,22436.789062,10841540000

##### 3.1.3) NASDAQ - WEEKLY

In [6]:
# NASDAQ - ^IXIC (weekly, price (USD), 2010-01-01, 2025-11-15) 

ticker = "^IXIC"
start = "1990-01-01"
end = "2025-11-15"
frequency = "1wk"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_weekly_df.csv", index=False)
df

Price,Date,Open,Close,High,Low,Volume
0,1990-01-01,452.899994,458.200012,461.600006,452.700012,548560000
1,1990-01-08,457.100006,439.700012,459.600006,439.299988,667020000
2,1990-01-15,438.200012,440.899994,442.500000,432.100006,683300000
3,1990-01-22,439.700012,421.299988,440.700012,419.500000,702200000
4,1990-01-29,422.799988,422.200012,423.299988,410.000000,697240000
...,...,...,...,...,...,...
1867,2025-10-13,22578.669922,22679.970703,22886.869141,22213.730469,51066110000
1868,2025-10-20,22844.820312,23204.869141,23261.259766,22514.080078,55319120000
1869,2025-10-27,23537.320312,23724.960938,24019.990234,23493.960938,52961610000
1870,2025-11-03,23951.910156,23004.539062,23976.839844,22563.419922,51841800000
1871,2025-11-10,23354.849609,22900.589844,23569.619141,22436.789062,47697000000

##### 3.1.4) NASDAQ - MONTHLY

In [7]:
# NASDAQ - ^IXIC (monthly, price (USD), 2010-01-01, 2025-11-15) 

ticker = "^IXIC"
start = "1990-01-01"
end = "2025-11-15"
frequency = "1mo"

df = fetch_YFINANCE(ticker, start, end, frequency)

# Uploading in aggregate_df
df.to_csv("raw_df/nasdaq_monthly_df.csv", index=False)
df

Price,Date,Open,Close,High,Low,Volume
0,1990-01-01,452.899994,415.799988,461.600006,410.000000,3027830000
1,1990-02-01,416.799988,425.799988,430.899994,416.200012,2420920000
2,1990-03-01,425.299988,435.500000,443.299988,424.500000,2885450000
3,1990-04-01,431.600006,420.100006,438.500000,417.000000,2591450000
4,1990-05-01,422.000000,459.000000,460.000000,420.700012,3468570000
...,...,...,...,...,...,...
426,2025-07-01,20290.609375,21122.449219,21457.480469,20105.410156,209936950000
427,2025-08-01,20830.640625,21455.550781,21803.750000,20560.169922,176309030000
428,2025-09-01,21086.570312,22660.009766,22801.900391,21033.050781,192919050000
429,2025-10-01,22530.949219,23724.960938,24019.990234,22193.070312,243658250000
430,2025-11-01,23951.910156,22432.849609,23976.839844,22231.150391,117889860000

#### **3.2) SINGLE STOCKS**